#forms {
  height: 100vh;

  background-image: url(../../../assets/img/fotos/fundo-cadastro.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#forms .logo {
  width: 200px;

  margin-top: 20px;
}

#forms .forms-area {
  background-color: #fff;
  border-radius: 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px 40px 15px;

  max-width: 430px;

  margin-bottom: 30px;
}