.fim-cadastro .title {
  font-family: Gilroy-Extrabold;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000;

  text-align: center;

  margin-bottom: 10px;
}

.fim-cadastro .text {
  font-family: Gilroy-Light;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  color: #7c7c7c;

  text-align: center;

  margin-bottom: 30px;
}

.fim-cadastro input {
  width: 100%;
  height: 44px;

  border-radius: 45px;
  border: 1px solid #707070;

  font-family: Gilroy-Light;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;

  color: #7C7C7C;

  padding-left: 30px;
  margin-bottom: 10px;
}

.fim-cadastro .finalizar-button {
  width: 100%;
  height: 60px;

  border-radius: 45px;
  background-color: #4ed840;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Gilroy-Light;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;

  color: #fff;

  transition: 0.4s;

  cursor: pointer;

  margin-top: 15px;
}

.fim-cadastro .voltar-button {
  width: 100%;
  height: 60px;

  border-radius: 45px;
  border: 2px solid #4ed840;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Gilroy-Light;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;

  color: #4ed840;

  transition: 0.4s;

  cursor: pointer;

  margin-top: 15px;
  margin-bottom: 30px;
}

.fim-cadastro .voltar-button:hover {
  background-color: #4ed840;
  color: #fff;
}