#inicio {
    background-image: url('../../../assets/img/fotos/competicao.png');
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    position: relative;
}

#inicio .content {
    margin-left: 8%;
    padding-right: 15px;

    position: absolute;
    top: 83vh;

    text-align: end;
}

#inicio .content h1 {
    font-family: Gilroy-Extrabold;
    font-size: 5.1vw;
    text-transform: uppercase;

    color: white;
    line-height: 5.1vw;
}


#conteudo h1 {
    float: right;
    font-family: Gilroy-Extrabold;
    font-size: 4.6vw;

    color: black;
    line-height: 5.1vw;
}

#conteudo p{
    size: 2.49vw;
    color: #7c7c7c;
}