@media (min-width: 770px){
    #tela-sugestoes {
        width: 100%;
    
        padding: 100px 250px 50px;
    
        max-width: 1600px;
    
        margin-bottom: 30px;
    }
    
    #tela-sugestoes h1 {
        font-family: Gilroy-Extrabold;
        font-size: 2.8rem;
        line-height: 1;
    
        color:black;
    
        margin: 0;
    }
    
    #tela-sugestoes .legenda {
        color:rgb(83, 83, 83);
    
        margin-bottom: 20px;
    }
    
    #tela-sugestoes .line {
        border-bottom: 1px solid #707070;
        margin-bottom: 20px;
    }
    
    #tela-sugestoes .form-group {
        font-weight: 500;
    
        margin-bottom: 10px;
    }
    
    #tela-sugestoes label {
        margin-bottom: 5px;
    }
    
    #tela-sugestoes input {
        border: 1px solid black;
        background-color: #ebebeb;
    
        border-radius: 10px;
    }
    
    #tela-sugestoes textarea {
        background-color: #ebebeb;
        border: 1px solid black;
    
        min-height: 80px;
    
        border-radius: 10px;
    }
    
    #tela-sugestoes button {
        float: right;
    
        width: 150px;
    
        margin-top: 10px;
    }
    
}
@media (min-width: 405px) and (max-width: 769px){
    #tela-sugestoes {
        width: 100%;
    
        padding: 100px 100px 50px;
    
        max-width: 1600px;
    
        margin-bottom: 30px;
    }
    
    #tela-sugestoes h1 {
        font-family: Gilroy-Extrabold;
        font-size: 2.8rem;
        line-height: 1;
    
        color:black;
    
        margin: 0;
    }
    
    #tela-sugestoes .legenda {
        color:rgb(83, 83, 83);
    
        margin-bottom: 20px;
    }
    
    #tela-sugestoes .line {
        border-bottom: 1px solid #707070;
        margin-bottom: 20px;
    }
    
    #tela-sugestoes .form-group {
        font-weight: 500;
    
        margin-bottom: 10px;
    }
    
    #tela-sugestoes label {
        margin-bottom: 5px;
    }
    
    #tela-sugestoes input {
        border: 1px solid black;
        background-color: #ebebeb;
    
        border-radius: 10px;
    }
    
    #tela-sugestoes textarea {
        background-color: #ebebeb;
        border: 1px solid black;
    
        min-height: 80px;
    
        border-radius: 10px;
    }
    
    #tela-sugestoes button {
        float: right;
    
        width: 150px;
    
        margin-top: 10px;
    }
    
}

@media (max-width: 404px){
    #tela-sugestoes {
        width: 100%;
    
        padding: 100px 10px 50px;
    
        max-width: 1600px;
    
        margin-bottom: 30px;
    }
    
    #tela-sugestoes h1 {
        font-family: Gilroy-Extrabold;
        font-size: 2.2rem;
        line-height: 1;
    
        color:black;
    
        margin: 0;
    }
    
    #tela-sugestoes .legenda {
        color:rgb(83, 83, 83);
    
        margin-bottom: 20px;
    }
    
    #tela-sugestoes .line {
        border-bottom: 1px solid #707070;
        margin-bottom: 20px;
    }
    
    #tela-sugestoes .form-group {
        font-weight: 500;
    
        margin-bottom: 10px;
    }
    
    #tela-sugestoes label {
        margin-bottom: 5px;
    }
    
    #tela-sugestoes input {
        border: 1px solid black;
        background-color: #ebebeb;
    
        border-radius: 10px;
    }
    
    #tela-sugestoes textarea {
        background-color: #ebebeb;
        border: 1px solid black;
    
        min-height: 80px;
    
        border-radius: 10px;
    }
    
    #tela-sugestoes button {
        float: right;
    
        width: 150px;
    
        margin-top: 10px;
    }
    
}