.row {
    margin: 0;
}

#pagina-historia #inicio {
    background-color: white;
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    position: relative;
}

#pagina-historia #conteudo .content .text.com-img .legendinha p {
    font-family: Gilroy-Light;
    font-size: 14px;
    text-align: center;
    color: 58595b;

    line-height: 1.2;
    margin-top: 0;
}

#pagina-historia #inicio .img-inicio {
    width: 100%;
    height: 70vh;

    object-fit: cover;
}

#pagina-historia #inicio .content {
    position: relative;
    top: 1.5vh;
}

#pagina-historia #inicio .content h1 {
    font-family: Gilroy-Extrabold;
    font-size: 6vw;
    text-transform: uppercase;

    color: black;
    line-height: 5vw;

    padding-left: 30px;
}

#pagina-historia #inicio .content p {
    font-family: Gilroy-Light;
    font-size: 24px;

    text-align: end;

    line-height: 1.4;

    padding-right: 15px;
}

#pagina-historia #conteudo {
    display: flex;
    justify-content: center;
}

#pagina-historia #conteudo .content {
    padding-top: 6vh;

    padding-left: 300px;
    padding-right: 300px;
    /* padding-left: 170px;
    padding-right: 170px; */

    max-width: 1600px;
}

#pagina-historia #conteudo .content #intro-geral {
    padding-top: 20px
}

#pagina-historia #conteudo .content .embed {
    position: relative;

    width: 100%;

    padding-bottom: 56.25%;
}

#pagina-historia #conteudo .content .embed iframe{
    position: absolute;

    width: 100%;
    height: 100%;

    border: none;
}

#pagina-historia #conteudo .content .text p {
    font-family: Gilroy-Light;
    color: #58595b;
    font-size: 18px;
    line-height: 24px;

    /* text-align: justify; */
    /* text-indent: 3rem; */
}

#pagina-historia #conteudo .content .text {
    margin-top: 40px;
}

#pagina-historia #conteudo .content .title-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#pagina-historia #conteudo .content .title-img h1 {
    font-family: Gilroy-Extrabold;
    font-size: 60px;
    text-transform: uppercase;

    color: black;

    line-height: 1;
    margin-bottom: 40px;

    padding: 0;

    width: 100%;
    text-align: start;
}

#pagina-historia #conteudo .content .title-img img {
    width: 45%;
}

#pagina-historia #conteudo .content .com-img {
    display: flex;
    flex-direction: column-reverse;
}

#pagina-historia #conteudo .content .com-img .col {
    padding: 0;
    display: flex;
    justify-content: center;
}

#pagina-historia #conteudo .content .com-img .col.col-legenda {
    flex-direction: column;
    align-items: center;
}

#pagina-historia #conteudo .content .com-img img {
    width: 60%;
    margin-top: 20px;
}

#pagina-historia #conteudo .content .com-img .texts-col {
    display: flex;
    flex-direction: column;
}

#pagina-historia #conteudo .content .com-img.vitor-borges {
    margin-top: 20px;
}

#pagina-historia #conteudo .content .com-img.vitor-borges img {
    margin-top: 0;
    margin-bottom: 0;
}

#pagina-historia #conteudo .content .row-img {
    /* padding: 40px; */

    padding-left: 5vw;
    padding-right: 5vw;
}

#pagina-historia #conteudo .content .row-img.two-imgs {
    padding: 0;
}

#pagina-historia #conteudo .content .row-img .img2 {
    width: 48%;
}

#pagina-historia #conteudo .content .row-img .img1 {
    width: 48%;
    margin-right: 30px;
}

#pagina-historia #conteudo .content .row-img.two-imgs img {
    width: 60%;
    margin: 0;
}

/* @media (max-width: 1370px) {
    #pagina-historia #conteudo .content .title-img h1 {
        font-size: 80px;
        line-height: 70px;
    }
} */

/* @media (max-width: 1135px) {
    #pagina-historia #conteudo .content .row-img .img1 {
        width: 60%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #pagina-historia #conteudo .content .row-img .img2 {
        width: 60%;
    }
} */

@media (max-width: 1260px) {
    #pagina-historia #inicio .content p {
        font-size: 20px;
        line-height: 1.2;
    }

    #pagina-historia #conteudo .content .title-img h1 {
        font-size: 50px;
    }
}

@media (max-width: 1200px) {
    #pagina-historia #conteudo .content {
        padding-left: 240px;
        padding-right: 240px;
    }
}

@media (max-width: 1050px) {
    #pagina-historia #conteudo .content {
        padding-left: 150px;
        padding-right: 150px;
    }
}

/* @media (max-width: 1060px) {
    #pagina-historia #conteudo .content .title-img h1 {
        font-size: 60px;
        line-height: 55px;
    }
} */

@media (max-width: 950px) {
    #pagina-historia #inicio .content h1 {
        line-height: 7vw;
        font-size: 8vw;
    }
}

@media (max-width: 900px) {
    #pagina-historia #conteudo .content .text p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 825px) {
    #pagina-historia #inicio .content h1 {
        line-height: 8vw;

        padding-left: 10px;
    }

    #pagina-historia #inicio .content p {
        font-size: 18px;
    }

    #pagina-historia #conteudo .content .title-img h1 {
        font-size: 45px;
    }
}

@media (max-width: 800px) {
    /* #pagina-historia #conteudo .content .title-img h1 {
        font-size: 50px;
        line-height: 50px;
    } */

    #pagina-historia #conteudo .content .title-img h1 {
        font-size: 40px;
    }
}

@media (max-width: 720px) {
    #pagina-historia #conteudo .content {
        padding-left: 75px;
        padding-right: 75px;
    }
}

@media (max-width: 680px) {
    #pagina-historia #inicio .content p {
        font-size: 14px;
    }
}

/* @media (max-width: 660px) {
    #pagina-historia #conteudo .content .title-img h1 {
        font-size: 40px;
        line-height: 35px;
    }
    
    #pagina-historia #conteudo .content .text p {
        font-size: 16px;
        line-height: 19px;
    }
} */

@media (max-width: 610px) {
    /* #pagina-historia #inicio .content p {
        font-size: 20px;
        line-height: 20px;
    } */

    #pagina-historia #conteudo .content .title-img h1 {
        font-size: 35px;
    }
}

@media (max-width: 550px) {
    #pagina-historia #conteudo .content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* @media (max-width: 540px) {
    #pagina-historia #conteudo .content .title-img {
        flex-direction: column;
    }

    #pagina-historia #conteudo .content .title-img h1 {
        margin-bottom: 20px;
    }

    #pagina-historia #conteudo .content .text p {
        font-size: 14px;
        line-height: 16px;
    }
} */

@media (max-width: 500px) {
    #pagina-historia #inicio .content p {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    #pagina-historia #inicio .content h1 {
        font-size: 34px;
        line-height: 41px;
        margin-top: 20px;
    }

    /* #pagina-historia #inicio .content p {
        font-size: 16px;
        line-height: 19px;
        margin-top: 20px;
    } */

    #pagina-historia #conteudo .content {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 405px) {
    #pagina-historia #inicio .content h1 {
        margin-top: 14px;
    }

    #pagina-historia #inicio .content p {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    #pagina-historia #inicio .content {
        position: absolute;
    }

    #pagina-historia #inicio .content h1 {
        margin-top: 450px;
    }
/* 
    #pagina-historia #inicio .content p {
        font-size: 14px;
        line-height: 13px;
        margin-top: 10px;
    } */
}