.div3 {
    background-color: black;
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    position: relative;
}

.div3 .row {
    margin: 0;

    align-items: center;

    padding-top: 7vh;

    height: 100%;
}

.div3 .row .imagem-detec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div3 .row .imagem-detec .detec {
    width: 15vw;
    
    margin: 20px 15px 20px 15px;
}

.div3 .row .infos {
    display: flex;
}

.div3 .row .infos p {
    margin: 0;
}

.div3 .row .infos .title-spec {
    font-family: Gilroy-Extrabold;
    font-size: 2vw;

    color:white;
}

.div3 .row .infos .spec {
    font-family: Gilroy-Light;
    font-size: 1.7vw;

    color:white;
    position: relative;
    bottom: 0.5vw;
}

#Kayran-3 .detec {
    width: 30vw;

    margin: 0;
}

#Kayran-3 .scroll-bot-icon {
    display: none;
}

@media (max-width: 720px) {
    .div3 .content-row {
        flex-wrap: unset;
        flex-direction: column;

        padding-top: 0;
    }

    .div3 .row .imagem-detec .detec {
        width: 115px;
    }

    .div3 .content-row .infos .col {
        align-items: center;

        display: flex;
        flex-direction: column;
    }

    .div3 .row .infos .spec {
        font-size: 12px;
    }

    .div3 .row .infos .title-spec {
        font-size: 14px;
    }
}