
#pagina-prototipos .conteudo-prototipos {
  width: 100%;

  padding: 100px 300px 50px;

  max-width: 1600px;
}

#pagina-prototipos .conteudo-prototipos .title {
  font-family: Gilroy-Extrabold;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.2;

  color: #000;

  margin-bottom: 0;
}

#pagina-prototipos .conteudo-prototipos .line {
  border-bottom: 1px solid #707070;
  margin-bottom: 10px;
}

#pagina-prototipos .conteudo-prototipos .years-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: relative;

  margin-bottom: 0;
}

#pagina-prototipos .conteudo-prototipos .years-wrapper .arrows-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#pagina-prototipos .conteudo-prototipos .years-wrapper .arrows-wrapper img {
  height: 50%;
  margin-left: 100px;
  cursor: pointer;
}
#pagina-prototipos .conteudo-prototipos .years-wrapper .arrows-wrapper img:first-child {
  transform: rotate(180deg);
  margin-left: 0;
}

#pagina-prototipos .conteudo-prototipos .years-wrapper .gradient {
  position: absolute;

  width: 200px;
  height: 100%;
}

#pagina-prototipos .conteudo-prototipos .years-wrapper .gradient.left {
  left: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#pagina-prototipos .conteudo-prototipos .years-wrapper .gradient.right {
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#pagina-prototipos .conteudo-prototipos .years-wrapper .year {
  font-family: Gilroy-Extrabold;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;

  color: #D5D4D4;

  margin: 0 auto;

  width: 80%;
  text-align: center;
}

#pagina-prototipos .conteudo-prototipos .years-wrapper .year.center {
  color: #4ED840;
  margin: 0 10px;
}

#pagina-prototipos .conteudo-prototipos .car-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

#pagina-prototipos .conteudo-prototipos .car-wrapper > div {
  position: absolute;
  top: 20px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pagina-prototipos .conteudo-prototipos .car-wrapper > div .car-name {
  font-family: Gilroy-Extrabold;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.2;

  color: #000;

  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;

  border-bottom: 1px solid #707070;

  width: 100%;
  text-align: center;
}

#pagina-prototipos .conteudo-prototipos .car-wrapper > div .ver-mais {
  width: 100%;
  height: 50px;

  background-color: #4ED840;
  border-radius: 86px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Gilroy-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  color: #fff;

  margin-right: 10px;
  margin-left: 10px;

  cursor: pointer;
}

#pagina-prototipos .conteudo-prototipos .car-wrapper > div .description {
  font-family: Gilroy-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;

  margin: 0;

  color: #7C7C7C;

  max-width: 40%;
  text-align: flex-start;
}

#pagina-prototipos .conteudo-prototipos .car-wrapper .car-img {
  width: 80%;
  margin-top: 40px;
}

#pagina-prototipos .conteudo-prototipos .info-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

#pagina-prototipos .conteudo-prototipos .info-cards .card-info {
  width: 100%;
  height: 120px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 30px;

  background-color: #F6F6F6;
  border-radius: 25px;
}

#pagina-prototipos .conteudo-prototipos .info-cards .card-info img {
  width: 60px;
  margin-right: 10px;
}

#pagina-prototipos .conteudo-prototipos .info-cards .card-info > div {
  width: 100%;
}

#pagina-prototipos .conteudo-prototipos .info-cards .card-info .info {
  font-family: Gilroy-Light;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;

  margin: 0;

  color: #000;
}

#pagina-prototipos .conteudo-prototipos .info-cards .card-info .data {
  font-family: Gilroy-Extrabold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;

  color: #000;
  margin: 0;
}

@media (max-width: 1200px) {
  #pagina-prototipos .conteudo-prototipos {
    padding-left: 240px;
    padding-right: 240px;
  }
}

@media (max-width: 1050px) {
  #pagina-prototipos .conteudo-prototipos {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (max-width: 720px) {
  #pagina-prototipos .conteudo-prototipos {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (max-width: 550px) {
  #pagina-prototipos .conteudo-prototipos {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 425px) {
  #pagina-prototipos .conteudo-prototipos {
    padding-left: 30px;
    padding-right: 30px;
  }
}