#topicos {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
}

#topicos a {
  font-family: Gilroy-Extrabold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;

  color: #000000;

  margin: 0;

  text-decoration: none;
}