.positions {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.positions .year {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.positions .year h1 {
    font-family: Gilroy-Extrabold;
    font-size: 13vw;

    color: black;

    border-bottom: 6px solid #4ed840;

    height: 30vh;
}

.positions .capitao {
    font-family: Gilroy-Light;
    font-size: 1.3vw;

    margin-top: 3vh;
}

.positions .capitao strong {
    font-family: Gilroy-Extrabold;

    color: black;
}

.positions .positions2 {
    display: flex;
    text-align: center;
    justify-content: space-between;

    margin-top: 7vh;

    padding: 0 5vw;
}

.positions .positions2 .position-col p {
    font-family: Gilroy-Light;
    font-size: 2vw;
}

.positions .positions2 .position-col .colocacao {
    font-family: Gilroy-Light;
    font-size: 3.5vw;

    color: black;

    margin: 0;
    height: 4vw;
}

.positions .positions2 .geral {
    position: relative;
    bottom: 1.5vw;
}

.positions .positions2 .geral p {
    font-family: Gilroy-Extrabold;
    font-size: 2.5vw;

    color: black;
}

.positions .positions2 .geral .colocacao {
    font-family: Gilroy-Extrabold;
    font-size: 4.5vw;

    color: black;
}

.embed {
    position: relative;

    width: 100%;

    padding-bottom: 56.25%;
}

.embed iframe{
    position: absolute;

    width: 100%;
    height: 100%;

    border: none;
}

.legend {
    text-align: end;

    margin-top: 9vh;
    margin-bottom: 10vh;
}

.legend p {
    font-family: Gilroy-Extrabold;
    font-size: 1.5vw;

    color: black;

    line-height: 1.8vw;
}

.row-img {
    padding: 4vw;

    padding-left: 10vw;
    padding-right: 10vw;
}