#pagina-equipe #inicio-equipe {
    background-image: url('../../../assets/img/fotos/Oprimogenito.jpg');
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    position: relative;
}

#pagina-equipe #inicio-equipe .content {
    margin-left: 66%;
    padding-right: 15px;

    position: absolute;
    top: 45vh;

    text-align: end;
}

#pagina-equipe #inicio-equipe .content h1 {
    font-family: Gilroy-Extrabold;
    font-size: 5.1vw;
    text-transform: uppercase;

    color: white;
    line-height: 5.1vw;
}

#pagina-equipe #inicio-equipe .content p {
    font-family: Gilroy-Light;
    font-size: 2.2vw;

    text-align: end;

    color: white;
    line-height: 2.2vw;
}

#pagina-equipe #video {
    padding-top: 10vh;
    
    padding-left: 250px;
    padding-right: 250px;

    padding-bottom: 10vh;
}

#pagina-equipe #video .embed {
    position: relative;

    width: 100%;

    padding-bottom: 56.25%;
}

#pagina-equipe #video .embed iframe{
    position: absolute;

    width: 100%;
    height: 100%;

    border: none;
}

#pagina-equipe #video > a {
    width: 100%;
}

#pagina-equipe #video .scroll-bot-icon {
    position: relative;
    top: 5px;
}

@media (max-width: 1100px) {
    #pagina-equipe #video {
        padding-left: 140px;
        padding-right: 140px;
    }
}

@media (max-width: 720px) {
    #pagina-equipe #video {
        padding-top: 70px;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

@media (max-width: 425px) {
    #pagina-equipe #video {
        padding-left: 30px;
        padding-right: 30px;
    }
}