.lateral-scroll-menu {
    position: absolute;
    left: 5px;
    top: calc(50vh - 90px);
}

.lateral-scroll-menu .lateral-scroll-menu-item {
    display: block;

    height: 13px;
    margin-bottom: 5px;
}

.lateral-scroll-menu .lateral-scroll-menu-item .lateral-scroll-circle {
    height: 14px;
}

#page1-historia {
    background-image: url('../../assets/img/fotos/section1.jpg');
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    position: relative;
}

#page1-historia .content {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;

    top: 30vh;
}

#page1-historia .content .section-title {
    font-family: Gilroy-Extrabold;
    font-size: 4rem;
    text-transform: uppercase;

    color:white;

    margin: 0;
}

#page1-historia .content .section-paragraph {
    font-family: Gilroy-Light;
    font-size: 2.2rem;
    
    color:white;

    margin: 0;

    position: relative;
    bottom: 15px;
}

#page1-historia .content .section-button {
    border: 2px solid white;
    border-radius: 30px;

    font-size: 20px;
    text-transform: uppercase;

    color:white;

    padding: 3px 25px;
    width: 205px;

    position: relative;
    bottom: 10px;
}

#page1-historia .content .section-button:hover {
    transition: .6s;
    
    color: black;
    background-color: white;

    text-decoration: none;
}

#page1-prototipos {
    background-image: url('../../assets/img/fotos/section2.jpg');
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    position: relative;
}

#page1-prototipos .content {
    display: flex;

    text-align: center;

    position: relative;
    top: 13vh;
    margin: 0;
}

#page1-prototipos .content .section-title {
    font-family: Gilroy-Extrabold;
    font-size: 5rem;
    text-transform: uppercase;

    color:white;

    margin: 0;
}

#page1-prototipos .content .section-paragraph {
    font-family: Gilroy-Light;
    font-size: 2rem;

    line-height: 35px;
    
    color:white;
}

#page1-prototipos .content .section-button {
    border: 2px solid white;
    border-radius: 30px;

    font-size: 20px;
    text-transform: uppercase;

    color:white;

    padding: 3px 25px;
    width: 170px;
}

#page1-prototipos .content .section-button:hover {
    transition: .6s;
    
    color: black;
    background-color: white;

    text-decoration: none;
}

#page1-equipe {
    background-image: url('../../assets/img/fotos/section3.jpg');
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    position: relative;
}

#page1-equipe .content {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: flex-start;

    top: 58vh;
    left: 2vw;
}

#page1-equipe .content .section-title {
    font-family: Gilroy-Extrabold;
    font-size: 4.5rem;
    text-transform: uppercase;

    color:white;

    margin: 0;
}

#page1-equipe .content .section-paragraph {
    font-family: Gilroy-Light;
    font-size: 2.5rem;

    line-height: 35px;
    text-align: start;
    
    color:white;
}

#page1-equipe .content .section-button {
    border: 2px solid white;
    border-radius: 30px;

    font-size: 20px;
    text-transform: uppercase;

    color:white;

    padding: 3px 25px;
    width: 170px;
}

#page1-equipe .content .section-button:hover {
    transition: .6s;
    
    color: black;
    background-color: white;

    text-decoration: none;
}

#page1-blog {
    background-color: #fff;
    
    height: 100vh;

    position: relative;

    display: flex;
    justify-content: center;
}

#page1-blog .content {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 12vh;

    max-width: 1200px;
}

#page1-blog .content .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page1-blog .content .section-title {
    font-family: Gilroy-Extrabold;
    font-weight: bold;
    font-size: 5rem;
    text-transform: uppercase;

    color: #4ED840;

    margin-bottom: 0;
    margin-right: 30px;
}

#page1-blog .content .section-paragraph {
    font-family: Gilroy-Light;
    font-size: 2rem;

    line-height: 40px;
    text-align: center;
    
    color:black;

    margin: 0;

    max-width: 50%;
}

#page1-blog .content .section-button {
    width: 210px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 30px;

    font-size: 20px;
    text-transform: uppercase;

    color:black;

    padding: 3px 25px;

    margin-left: 30px;
}

#page1-blog .content .section-button:hover {
    transition: .6s;
    
    color: white;
    background-color: black;

    text-decoration: none;
}

#page1-blog .content .cards {
    width: 100%;
    height: 60%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;

    margin-top: 30px;
}

#page1-blog .content .cards .card {
    width: 100%;
    height: 100%;

    border: 1px solid #707070;
    border-radius: 36px;

    padding: 15px;

    display: flex;
}

#page1-blog .content .cards .card .img {
    border-radius: 26px;
    background-color: #707070;
    background-image: url('../../assets/img/fotos/blog-inicio.png');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 50%;
}

#page1-blog .content .cards .card > div:last-child {
    margin-top: 20px;

    position: relative;

    height: 100%;
}

#page1-blog .content .cards .card > div .title {
    font-family: Gilroy-Extrabold;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: start;

    color: black;

    margin-bottom: 0;
}

#page1-blog .content .cards .card > div .code {
    font-family: Gilroy-Light;
    font-weight: normal;
    font-size: 16px;
    text-align: start;

    color: #7c7c7c;

    margin-bottom: 0;
}

#page1-blog .content .cards .card > div .read-time {
    font-family: Gilroy-Light;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;

    color: #7c7c7c;
    margin-bottom: 0;

    position: absolute;
    bottom: 0;
}

#page1-parceiros {
    background-image: url('../../assets/img/fotos/section4.jpg');
    background-size: cover;
    background-position: center;
    
    height: 100vh;

    position: relative;
}

#page1-parceiros .content {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: flex-start;

    top: 55vh;
    left: 2vw;
}

#page1-parceiros .content .section-title {
    font-family: Gilroy-Extrabold;
    font-size: 4.5rem;
    text-transform: uppercase;

    color:white;

    margin: 0;
}

#page1-parceiros .content .section-paragraph {
    font-family: Gilroy-Light;
    font-size: 2.5rem;

    line-height: 35px;
    text-align: start;
    
    color:white;
}

#page1-parceiros .content .buttons {
    display: flex;
}

#page1-parceiros .content .buttons .b2 {
    margin-left: 20px;
}

#page1-parceiros .content .buttons .section-button {
    border: 2px solid white;
    border-radius: 30px;

    font-size: 20px;
    text-transform: uppercase;

    color:white;

    padding: 3px 25px;
    width: 220px;
}

#page1-parceiros .content .section-button:hover {
    transition: .6s;
    
    color: black;
    background-color: white;

    text-decoration: none;
}

.footer-div {
    height: auto !important;
}

@media (max-width: 1440px) {
    #page1-parceiros .content {
        top: 52vh;
    }

    #page1-parceiros .content .section-paragraph {
        font-size: 2rem;
    }
}

@media (max-width: 1250px) {
    #page1-blog .content {
        max-width: 970px;
    }

    #page1-blog .content .section-title {
        font-size: 60px;
    }
    
    #page1-blog .content .section-paragraph {
        font-size: 26px;
        line-height: 32px;
    }
    
    #page1-blog .content .section-button {
        width: 180px;
    }

    #page1-blog .content .cards {
        column-gap: 20px;
    }

    #page1-blog .content .cards .card > div .title {
        font-size: 22px;
        line-height: 24px;
    }
    
    #page1-blog .content .cards .card > div .code {
        font-size: 14px;
    }
    
    #page1-blog .content .cards .card > div .read-time {
        font-size: 14px;
    }
}

@media (max-width: 1180px) {
    #page1-prototipos .content .section-title {
        font-size: 4rem;
    }

    #page1-prototipos .content .section-paragraph {
        font-size: 1.8rem;
    }
}

@media (max-width: 1024px) {
    #page1-historia .content .section-title {
        font-size: 3rem;
    }

    #page1-historia .content .section-paragraph {
        font-size: 1.6rem;
        bottom: 10px;
    }

    #page1-prototipos .content .section-title {
        font-size: 3.5rem;
    }

    #page1-prototipos .content .section-paragraph {
        font-size: 1.5rem;
        line-height: 28px;
    }

    #page1-equipe .content .section-title {
        font-size: 4rem;
    }

    #page1-equipe .content .section-paragraph {
        font-size: 2.2rem;
    }

    #page1-parceiros .content .section-title {
        font-size: 4rem;
    }

    #page1-parceiros .content .section-paragraph {
        font-size: 1.6rem;
        line-height: 26px;
    }
}

@media (max-width: 1000px) {
    #page1-blog .content {
        max-width: 780px;
        top: 16vh;
    }

    #page1-blog .content .section-title {
        font-size: 50px;
    }
    
    #page1-blog .content .section-paragraph {
        font-size: 22px;
        line-height: 26px;
    }
    
    #page1-blog .content .section-button {
        width: 150px;
        font-size: 16px;
    }

    #page1-blog .content .cards {
        column-gap: 15px;
        margin-top: 20px;

        height: 45%;
    }

    #page1-blog .content .cards .card {
        padding: 10px;
    }

    #page1-blog .content .cards .card > div:last-child {
        margin-top: 10px;
    }

    #page1-blog .content .cards .card > div .title {
        font-size: 18px;
        line-height: 22px;
    }
    
    #page1-blog .content .cards .card > div .code {
        font-size: 12px;
    }
    
    #page1-blog .content .cards .card > div .read-time {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width: 800px) {
    #page1-blog .content {
        max-width: 780px;
        top: 12vh;

        padding: 0 20px;
    }

    #page1-blog .content .top-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #page1-blog .content .section-title {
        font-size: 38px;

        margin-right: 0;
    }
    
    #page1-blog .content .section-paragraph {
        text-align: start;
        max-width: unset;
    }
    
    #page1-blog .content .section-button {
        width: 230px;
        height: 36px;

        font-size: 18px;

        margin-top: 10px;
        margin-left: 0;
    }

    #page1-blog .content .cards {
        display: flex;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;

        height: 50%;
    }

    #page1-blog .content .cards .card {
        width: 50%;
        height: 100%;

        flex: none;

        scroll-snap-align: start;
    }
}

@media (max-width: 768px) {
    #page1-historia .content {
        max-width: 100%;
    }

    #page1-prototipos .content .col {
        flex-basis: auto;
    }

    #page1-equipe .content {
        max-width: 100%;
        align-items: center;
        left: 0;

        top: 24vh;
    }

    #page1-equipe .content .section-paragraph {
        text-align: center;
    }

    #page1-parceiros .content {
        max-width: 100%;
        align-items: center;
        top: 40vh;
        left: 0;
    }

    #page1-parceiros .content .section-paragraph {
        text-align: center;
    }

    #page1-parceiros .content .buttons {
        flex-direction: column;
    }

    #page1-parceiros .content .buttons .b2 {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 425px) {
    #page1-prototipos .content .section-title {
        font-size: 3rem;
    }

    #page1-prototipos .content .section-paragraph {
        font-size: 1.3rem;
    }

    #page1-parceiros .content {
        top: 30vh;
    }

    #page1-parceiros .content .section-title {
        font-size: 3.5rem;
    }

    #page1-parceiros .content .section-paragraph {
        font-size: 1.2rem;
    }

    #page1-blog .content .cards {
        display: flex;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;

        height: 45%;
    }

    #page1-blog .content .cards .card {
        width: 80%;
    }
}

@media (max-width: 380px) {
    #page1-parceiros .content .section-title {
        font-size: 3rem;
    }
}

@media (max-width: 375px) {
    #page1-historia .content .section-title {
        font-size: 2.5rem;
    }

    #page1-historia .content .section-paragraph {
        font-size: 1.4rem;
        bottom: 10px;
    }

    #page1-historia .content .section-button {
        font-size: 17px;
        padding: 3px 20px;
        width: 175px;
        bottom: 0;
    }

    #page1-prototipos .content .section-title {
        font-size: 2.5rem;
    }

    #page1-prototipos .content .section-paragraph {
        font-size: 1.1rem;
    }

    #page1-equipe .content .section-paragraph {
        font-size: 1.8rem;
    }
}