@font-face {
    font-family: Gilroy-Light;
    src: url("assets/fonts/Gilroy-Light.otf")
}

@font-face {
    font-family: Gilroy-Extrabold;
    src: url("assets/fonts/Gilroy-ExtraBold.otf")
}

html {
    scroll-behavior: smooth;
}

.scroll-top-icon {
    height: 25px;
    width: 25px;

    position: absolute;
    top: 25px;
    right: 70px;
    transform: rotate(180deg);

    z-index: 2;
}

.scroll-bot-icon {
    height: 25px;
    width: 25px;

    position: absolute;
    bottom: 5px;
    left: 50%;
}

